<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.mobileui.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MobileUI</name>
    <description>Preview your apps</description>
    <author email="fabio.rogerio.sj@gmail.com" href="https://mobileui.github.io/">
        MobileUI
    </author>
    <content src="index.html" />
    <access origin="*"></access>
    <allow-navigation href="*" />
    <preference name="DisallowOverscroll" value="true" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <icon src="res/icon/android/ldpi.png" density="ldpi" />
        <icon src="res/icon/android/mdpi.png" density="mdpi" />
        <icon src="res/icon/android/hdpi.png" density="hdpi" />
        <icon src="res/icon/android/xhdpi.png" density="xhdpi" />
        <icon src="res/icon/android/xxhdpi.png" density="xxhdpi" />
        <icon src="res/icon/android/xxxhdpi.png" density="xxxhdpi" />

        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash-square.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#263238" />

        <!-- <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi" />
        <splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi" />
        <splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi" />
        <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi" />
        <splash src="res/screen/android/splash-port-xxhdpi.png" density="port-xxhdpi" />
        <splash src="res/screen/android/splash-port-xxxhdpi.png" density="port-xxxhdpi" />  -->
    </platform>
    <preference name="ShowSplashScreenSpinner" value="true"/>
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#263238" />
    <preference name="NavigationBarBackgroundColor" value="#263238" />
</widget>
